<!DOCTYPE html>
{% extends 'adminheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

<form id="f1" method="post" enctype="multipart/form-data">
    {% csrf_token %}
   <table class="table table-striped">
    {{ f.as_table }}
           <tr>
           <td> <input type="submit" value="submit"></td>
       </tr>

        </table>



        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>
        {% endfor %}

    </ul>
{% endif %}
   <table class="table table-striped">
    <tr>
        <th>Refno</th>
        <th>Jobtitle </th>
        <th> Notification</th>
          <th > Adddate</th>
          <th> status</th>
        <th colspan="7">Notification_file</th>





    </tr>
    {% for obj in careers_list %}
    <tr>

        <td>{{obj.Refno}}</td>
        <td>{{obj.Jobtitle}}</td>
        <td>{{obj.Notification }}</td>
        <td>{{obj.Adddate }}</td>
        <td>{{obj.Status}}</td>
        {% if obj.Notification_file %}
        <td><img src="{{obj.Notification_file.url}}" style="width:100px;height:auto;"></td>
        {% endif %}

        <td><a href="{% url 'up_care' obj.id %}"> UPDATE </a> </td>
        <td><a href="{% url 'dele_care' obj.id %}"> DELETE </a> </td>

    </tr>
     {% endfor %}
</table>
</form>
{% endblock content %}
</body>
</html>