<!DOCTYPE html>
{% extends  'loginheader.html' %}
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}



        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title text-center text-primary text-uppercase">POOJA BOOKING</h6>
                    <h1 class="mb-5">Book A <span class="text-primary text-uppercase">POOJAS</span></h1>
                </div>
                <div class="row g-5">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="{% static 'img/about-11.jpg' %}" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="{% static 'img/about-12.jpg' %}">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="{% static 'img/about-13.jpg' %}">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="{% static 'img/about-14.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <form id="f1" method="post" enctype="multipart/form-data">
                                 {% csrf_token %}
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="name" placeholder="Devotee Name" name="dname" required>
                                            <label for="name">Devotee Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                             <textarea class="form-control" placeholder="Address" id="address" style="height: 100px" name="address" required></textarea>
                                            <label for="address">Address</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating date" id="age" data-target-input="nearest">
                                            <input type="text" class="form-control " id="checkin" placeholder="Age" data-target="#date3" data-toggle="datetimepicker" name="age" required/>
                                            <label for="age">Age</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select" id="select1" name="gender" required>
                                                <option value="0" >--select--</option>
                                              <option value="Male">Male</option>
                                              <option value="Female">Female</option>
                                              <option value="Other">Other</option>
                                            </select>
                                            <label for="select1">Select Gender</label>
                                          </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" placeholder="Your Email" name="email" required>
                                            <label for="email">Your Email</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                             <input type="number" class="form-control" id="mobile" placeholder="Phone Number" name="mobile" required>
                                            <label for="mobile">Phone Number</label>
                                        </div>
                                    </div>
                                       <div class="col-md-6">
                                        <div class="form-floating">
                                       <select class="form-control" id="loc"  name="loc" required>

                                            <option >choose location</option>
                                                 {% for obj in loc %}
                                                <option value="{{ obj.id }}"> {{ obj.locname }}</option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                    </div>
                                     <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="username" placeholder="User Name" name="username" required>
                                            <label for="username">User Name</label>
                                        </div>
                                    </div>
                                     <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="password" placeholder="password" name="password" required>
                                            <label for="password">Password</label>
                                        </div>
                                    </div>
                                      <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="confirm password" placeholder="Confirm Password" name="confirm_password" required>
                                            <label for="confirm password">Confirm Password</label>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Register</button>
                                        {% if messages %}

    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>
        {% endfor %}

    </ul>

{% endif %}
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>




{% endblock %}

</body>
</html>