<!DOCTYPE html>
{% extends 'adminheader.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block content %}

<body>
<form id="f1" method="post" enctype="multipart/form-data">
    {% csrf_token %}
   <table class="table table-striped">
    {{ f.as_table }}
       <tr>
       <td colspan="8"> <input type="submit" value="submit">
       </td>
</tr>
        </table>



        {% if messages %}

    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>


        {% endfor %}

    </ul>

{% endif %}
<table class="table table-striped">
    <tr>
        <th>Photo</th>
        <th>poojatypeid</th>
        <th>Pooja Name</th>
        <th>Description</th>
        <th>PriestId</th>
        <th colspan="8">Amount</th>



    </tr>
    {% for obj in pooja_list %}
    <tr>
<!--       <td><img src="{{ obj.photo }}" alt ="vazhivad" width="100%" height="100%"></td>-->
       {% if obj.Photo %}
        <td><img src="{{ obj.Photo.url }}" alt="{{ obj.pname }}" style="width:100px;height:auto;"></td>
        {% endif %}
        <td>{{obj.poojatypeid}}</td>
        <td>{{obj.pname}}</td>
        <td>{{obj.desc}}</td>
        <td>{{obj.priestid}}</td>
        <td>{{obj.amount}}</td>

        <td><a href="{% url 'up_pooja' obj.id %}"> UPDATE </a> </td>
        <td><a href="{% url 'dele_pooja' obj.id %}"> DELETE </a> </td>

    </tr>
     {% endfor %}
</table>

</form>
{% endblock content %}
</body>
</html>