<!DOCTYPE html>
{% extends 'staffheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% block content %}
<form id="f1" method="post">
    {% csrf_token %}
   <table class="table table-striped">
    {{ f.as_table }}
      <tr>
          <td colspan="6"><input type="submit" value="submit"></td>
      </tr>

        </table>



        {% if messages %}

    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>
        {% endfor %}

    </ul>

{% endif %}
   <table class="table table-striped">
    <tr>
        <th>Temple Name</th>
        <th>Title</th>
        <th>Description </th>
        <th> From_date</th>
        <th colspan="6"> To_date</th>

    </tr>
    {% for obj in special_list %}
    <tr>
        <td>{{obj.Temple_name}}</td>
        <td>{{obj.Title}}</td>
        <td>{{obj.Description}}</td>
        <td>{{obj.From_date}}</td>
        <td>{{obj.To_date}}</td>

        <td><a href="{% url 'up_special' obj.id %}"> UPDATE </a> </td>
        <td><a href="{% url 'dele_special' obj.id %}"> DELETE </a> </td>

    </tr>
     {% endfor %}
</table>
</form>
{% endblock content %}
</body>
</html>