<!DOCTYPE html>
{% extends 'adminheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
{% block content %}
<body>
<form id="f1" method="post" enctype="multipart/form-data">
    {% csrf_token %}
   <table class="table table-striped">
    {{ f.as_table }}
       <tr>
           <td colspan="9">
           <input type="submit" value="submit">
           </td>
       </tr>
        </table>

        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<table class="table table-striped">
    <tr>

        <th>temple Name</th>
        <th>Address</th>
        <th>Description</th>
        <th>Contact Name</th>
        <th>Contact Number</th>
         <th>Image</th>
        <th>Pooja</th>

        <th colspan="9">Location</th>

    </tr>
    {% for obj in info_list %}
    <tr>

        <td>{{obj.tname}}</td>
        <td>{{obj.address}}</td>
        <td>{{obj.discription}}</td>
        <td>{{obj.cotname}}</td>
        <td> {{obj.contnum}}</td>
         {% if obj.Photo %}
        <td><img src="{{ obj.Photo.url }}" alt="{{ obj.tname }}" style="width:100px;height:auto;"></td>
        {% endif %}
       <td> {% for pub  in obj.Pooja.all %}
            <li>{{ pub.pname }}</li>
        {% endfor %}</td>


        <td>{{obj.loc}}</td>

        <td><a href="{% url 'up_temple' obj.id %}"> UPDATE </a> </td>
        <td><a href="{% url 'dele_temple' obj.id %}"> DELETE </a> </td>


    </tr>
     {% endfor %}
</table>
</form>
{% endblock content %}
</body>
</html>