<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
    <link href="{% static 'css/payment.css' %}" rel="stylesheet">
     <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js' %}"></script>
     <script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
<div class="container d-lg-flex">
        <div class="box-1 bg-light user">

            <div class="box-inner-1 pb-3 mb-3 ">
                <div class="d-flex justify-content-between mb-3 userdetails">
                    <p class="fw-bold">Online Pooja Booking </p>
                    <p class="fw-lighter"><span class="fas fa-dollar-sign"></span>{{ subtotal }}</p>
                </div>
                <div id="my" class="carousel slide carousel-fade img-details" data-bs-ride="carousel"
                    data-bs-interval="2000">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#my" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#my" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#my" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'img/about-14.jpg' %}"
                                class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/about-14.jpg' %}"
                                class="d-block w-100 h-100">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/about-14.jpg' %}"
                                class="d-block w-100">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#my" data-bs-slide="prev">
                        <div class="icon">
                            <span class="fas fa-arrow-left"></span>
                        </div>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#my" data-bs-slide="next">
                        <div class="icon">
                            <span class="fas fa-arrow-right"></span>
                        </div>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <p class="dis info my-3">Online booking for poojas offers a convenient and secure payment process. Users can select their desired pooja, proceed to checkout, and make payments using various options such as credit/debit cards, net banking, or digital wallets
                </p>

            </div>
        </div>
        <div class="box-2">
            <div class="box-inner-2">
                <div>
                    <p class="fw-bold">Payment Details</p>
                    <p class="dis mb-3">Complete your purchase by providing your payment details</p>
                </div>
                        {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <p class="dis fw-bold mb-2">card type</p>

                        <select name="card_type" required>
                            <option value="0">--select--</option>
                            <option value="credit">Credit Card</option>
                            <option value="debit">Debit Card</option>
                            <option value="debit">Net Banking</option>

                        </select>
                    </div>
                    <div class="mb-3">
                        <p class="dis fw-bold mb-2">Email address</p>
                        <input class="form-control" type="email"  required>
                    </div>
                    <div>
                        <p class="dis fw-bold mb-2">Card details</p>
                        <div class="d-flex align-items-center justify-content-between card-atm border rounded">
                            <div class="fab fa-cc-visa ps-3"></div>
                            <input type="text" class="form-control" placeholder="Card Details" name="Card_number" >
                            <div class="d-flex w-50">
                                <input type="text" class="form-control px-0" placeholder="MM/YY" name="card_exp_date" >
                                <input type="password" maxlength=3 class="form-control px-0" placeholder="CVV" name="cvv_number">
                            </div>
                        </div>
                        <div class="my-3 cardname">
                            <p class="dis fw-bold mb-2">Cardholder name</p>
                            <input class="form-control" type="text" name="card_holder_name" required>
                        </div>
                        <div class="address">


                            <div class=" my-3">

                            </div>
                            <div class="d-flex flex-column dis">

                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <p class="fw-bold">Total</p>
                                    <p class="fw-bold"><span class="fas fa-dollar-sign"></span>{{ subtotal }}</p>
                                </div>
                                <div class="btn btn-primary mt-2"> <input type="submit" value="Pay" class="btn btn-primary mt-2"><span class="fas fa-dollar-sign px-1">{{ subtotal }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>