<!DOCTYPE html>
{% extends 'customerheader.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
{% block content %}

 {% csrf_token %}
 <table class="table table-stripped">

    {{ f.as_table }}
    </table>
    <div id="temple"></div>
    <script>
document.getElementById("id_District").addEventListener("change", function() {

  var selectedValue = this.value;

  fetch('/Devotee/search_temple1/?selected_value=' + selectedValue)
    .then(response => response.json())
    .then(data => {

      // Build HTML table using received data

      var html = '<table class="table table-stripped">';
      html += '<tr><td> Temple Name  </td><td>Address </td> <td>discription </td> <td>contact name </td> <td>Contact Number </td><td>Priest name </td> <td>Photo </td></tr>'
      data.data.forEach(obj => {
     html += '<tr><td> ' + obj.tname + '</td><td>' + obj.taddress+ '</td> <td>' + obj.tdiscription+ '</td> <td>' + obj.tcotname+ '</td> <td>' + obj.tcontnum+ '</td>  <td>' + obj.tPriest+ '</td>   <td> <a href="/Devotee/show_pooja/' + obj.id + '/"> <img src="' + obj.tPhoto + '" alt="Temple Photo" width ="150" height="200"> </a></td></tr>'

      });
      html += '</table>';
      document.getElementById('temple').innerHTML = html;
    })
    .catch(error => {
      console.error('Error:', error);
    });
});
    </script>
{% endblock %}

</body>
</html>