<!DOCTYPE html>
{% extends 'adminheader.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% block content %}

   <table class="table table-striped">
    <tr>
        <th>Devotee Name</th>
        <th>career Title</th>
        <th>Resume </th>

        <th>Application_date</th>
        <th>Download Resume</th>

    </tr>
    {% for obj in view_appli %}
    <tr>
        <td>{{obj.Devotee_id.dname}}</td>
        <td>{{obj.careerid.Jobtitle}}</td>
       <td>{{obj.Resume }}</td>


        <td>{{obj.Application_date}}</td>
     <td> <a href="{{obj.Resume}}" download>Download</a></td>

    </tr>
     {% endfor %}
</table>
{% endblock content %}

</body>
</html>