<!DOCTYPE html>
{% extends 'customerheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% block content %}
<h2>{{ temple.tname }}</h2>
 <img src="{{ temple.Photo.url }}" alt="{{ temple.tname }}" style="width:100%; max-width:400px;">

 <table class="table table-striped">
    <tr>

        <th> Pooja Name</th>
        <th>Day</th>
        <th>Timings</th>
    </tr>
    {% for obj in schedule_list %}
    <tr>

        <td>{{obj.poojaid}}</td>
        <td>{{obj.dayid}}</td>
        <td>{{obj.Timings}}</td>


    </tr>
     {% endfor %}
</table>
{% endblock %}

</body>
</html>