<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <table border="1">
    <tr>
        <th>Name</th>
        <th>Email </th>
        <th> Mobile</th>
        <th>Query </th>




    </tr>
    {% for obj in enq_list %}
    <tr>

        <td>{{obj.Name}}</td>
        <td>{{obj.Email}}</td>
        <td>{{obj.Mobile }}</td>
        <td>{{obj.Query}}</td>

        <td><a href="{% url 'more_enq' obj.id%}">more..</a></td>

        <td><a href="{% url 'dele_enq' obj.id %}"> DELETE </a> </td>


    </tr>
     {% endfor %}
</table>
</body>
</html>