<!DOCTYPE html>
{% extends 'customerheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% block content %}
    <table class="table table-striped">
    <tr>
        <th>Refno</th>
        <th>Jobtitle </th>
        <th> Notification</th>
        <th>Notification_file </th>
        <th> Adddate</th>
<!--        <th> Download Notification file</th>-->


    </tr>
    {% for obj in careers_list %}
    <tr>

        <td>{{obj.Refno}}</td>
        <td>{{obj.Jobtitle}}</td>
        <td>{{obj.Notification }}</td>
        {% if obj.Notification_file %}
        <td><img src="<{{obj.Notification_file.url}}" style="width:100px;height:auto;"><a href="{{obj.Notification_file}}" download>Download</a></td>
        {% endif %}
        <td>{{obj.Adddate }}</td>
<!--         <td> <a href="{{obj.Notification_file}}" download>Download</a></td>-->
        <td><a href="{% url 'application' obj.id %}"> Apply </a> </td>
     {% endfor %}
</table>
{% endblock %}
</body>
</html>