<!DOCTYPE html>
{% extends 'staffheader.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

   <table class="table table-striped">

    <tr>
        <th>Temple Name</th>
         <th>Temple Income Type</th>
        <th>Total Amount</th>
    </tr>
       {% for obj in staff_income %}
     <tr>
      <td>{{obj.Temple_name__tname}}</td>
        <td>{{obj.income_typeid__inctype}}</td>
         <td>{{obj.total_amount}}</td>
     </tr>
            {% endfor %}

 </table>
{% endblock content %}

</body>
</html>