<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
 <table border="1">
     {% for obj in staff_list %}
    <tr>
        <th>Staff Id</th>
        <td>{{obj.id}}</td>
    </tr>
     <tr>
         <th>Staff Name</th>
         <td>{{obj.sname}}</td>
     </tr>
       <tr> <th>Address</th>
            <td>{{obj.address}}</td>
       </tr>
       <tr>
           <th>Email</th>
           <td>{{obj.email}}</td>
           </tr>
     <tr>
        <th>Mobile</th>
         <td>{{obj.mobile}}</td>
     </tr>
      <tr>
          <th>Photo</th>
           <td>{{obj.photo}}</td>
      </tr>
     <tr>
        <th>DOB</th>
         <td>{{obj.dob}}</td>
     </tr>
     <tr>
        <th>Age</th>
         <td>{{obj.age}}</td>
         </tr>
     <tr>
        <th>Gender</th>
         <td>{{obj.gender}}</td>
     </tr>

    <tr>
        <td><a href="{% url 'up_staff' obj.id %}"> UPDATE </a> </td>



    </tr>
     {% endfor %}
</table>
</body>
</html>